<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đơn hàng</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/img/favicons/favicon-32x32.png  "
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/img/favicons/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../public/img/favicons/favicon.ico"
    />
    <link rel="manifest" href="../public/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="../public/img/favicons/mstile-150x150.png"
    />
    <link href="../public/css/theme.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link href="./css/admin.css" rel="stylesheet" />
  </head>
  <body>
    <main class="main" id="top">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
        data-navbar-on-scroll="data-navbar-on-scroll"
      >
        <div class="container">
          <a class="navbar-brand d-inline-flex" href="/admin"
            ><img
              class="d-inline-block"
              src="../public/img/gallery/logo.svg"
              alt="logo"
            /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient"
              >Ship PTIT</span
            ></a
          >
          <div
            class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
            id="navbarSupportedContent"
          >
            <div
              class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block"
            ></div>
            <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
              <!-- Replace existing button with this dropdown -->
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-white shadow-warning text-warning dropdown-toggle"
                  id="userDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  aria-label="User menu"
                >
                  <i class="fas fa-user me-2"></i>Admin
                </button>
                <ul
                  class="dropdown-menu dropdown-menu-end py-2"
                  aria-labelledby="userDropdown"
                >
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user-circle me-2"></i>Thông tin tài khoản
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cog me-2"></i>Cài đặt
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item text-danger"
                      href="../index"
                      onclick="handleLogout()"
                    >
                      <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                    </a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- Add this right after the <nav> element -->
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/admin">
                    <i class="fas fa-users me-2"></i>
                    Người dùng
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin-food">
                    <i class="fas fa-shopping-cart me-2"></i>
                    Quản lý sản phẩm
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin-shipper">
                    <i class="fas fa-truck me-2"></i>
                    Giao hàng
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/admin-order">
                    <i class="fas fa-shopping-cart me-2"></i>
                    Đơn hàng
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content area -->
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Danh sách đơn hàng</h1>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Số điện thoại KH</th>
                <th scope="col">Tên món</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>DH001</td>
                <td>0123456789</td>
                <td>Cơm tấm sườn</td>
                <td>2</td>
                <td>60,000đ</td>
                <td>
                  <span class="badge bg-warning text-dark"
                    >Chưa thanh toán</span
                  >
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>DH002</td>
                <td>0987654321</td>
                <td>Phở bò</td>
                <td>1</td>
                <td>45,000đ</td>
                <td>
                  <span class="badge bg-success">Đã thanh toán</span>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>DH003</td>
                <td>0369852147</td>
                <td>Bún bò</td>
                <td>3</td>
                <td>120,000đ</td>
                <td>
                  <span class="badge bg-danger">Đã hủy</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
      rel="stylesheet"
    />
  </body>
</html>
